In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Load Dataset:

In [3]:
df = pd.read_csv("heart_disease.csv")
df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

# Separate Numerical & Categorical Columns

In [4]:
categorical_cols = df.select_dtypes(include=["object"]).columns
numerical_cols = df.select_dtypes(exclude=["object"]).columns

print("Categorical:", categorical_cols)
print("Numerical:", numerical_cols)

Categorical: Index(['sex', 'chest_pain_type', 'fasting_blood_sugar', 'rest_ecg',
       'exercise_induced_angina', 'slope', 'vessels_colored_by_flourosopy',
       'thalassemia'],
      dtype='object')
Numerical: Index(['age', 'resting_blood_pressure', 'cholestoral', 'Max_heart_rate',
       'oldpeak', 'target'],
      dtype='object')

# Encode Categorical Features

In [5]:
le = LabelEncoder()

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

In [7]:
df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,1,3,125,212,1,2,168,0,1.0,0,3,3,0
1,53,1,3,140,203,0,1,155,1,3.1,2,4,3,0
2,70,1,3,145,174,1,2,125,1,2.6,2,4,3,0
3,61,1,3,148,203,1,2,161,0,0.0,0,1,3,0
4,62,0,3,138,294,0,2,106,0,1.9,1,2,0,0

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

numeric_cols = ['age','resting_blood_pressure','cholestoral',
                'Max_heart_rate','oldpeak']

df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,-0.268437,1,3,-0.377636,-0.659332,1,2,0.821321,0,-0.060888,0,3,3,0
1,-0.158157,1,3,0.479107,-0.833861,0,1,0.255968,1,1.727137,2,4,3,0
2,1.716595,1,3,0.764688,-1.396233,1,2,-1.048692,1,1.301417,2,4,3,0
3,0.724079,1,3,0.936037,-0.833861,1,2,0.516900,0,-0.912329,0,1,3,0
4,0.834359,0,3,0.364875,0.930822,0,2,-1.874977,0,0.705408,1,2,0,0

In [9]:
df.to_csv("processed_heart.csv", index=False)

In [10]:
baseline_stats.to_csv("baseline_stats.csv")

NameError: name 'baseline_stats' is not defined

In [11]:
baseline_stats = df.describe()
baseline_stats

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
count,1.025000e+03,1025.000000,1025.000000,1.025000e+03,1.025000e+03,1025.000000,1025.000000,1.025000e+03,1025.000000,1.025000e+03,1025.000000,1025.000000,1025.000000,1025.000000
mean,-3.431402e-16,0.695610,2.171707,-7.036106e-16,-3.466062e-18,0.850732,1.485854,-4.332578e-16,0.336585,-2.426243e-16,0.614634,3.002927,1.331707,0.513171
std,1.000488e+00,0.460373,0.959013,1.000488e+00,1.000488e+00,0.356527,0.528527,1.000488e+00,0.472772,1.000488e+00,0.617755,1.293384,1.444014,0.500070
min,-2.804866e+00,0.000000,0.000000,-2.148237e+00,-2.327054e+00,0.000000,0.000000,-3.397080e+00,0.000000,-9.123291e-01,0.000000,0.000000,0.000000,0.000000
25%,-7.095548e-01,0.000000,2.000000,-6.632165e-01,-6.787242e-01,1.000000,1.000000,-7.442713e-01,0.000000,-9.123291e-01,0.000000,2.000000,0.000000,0.000000
50%,1.726817e-01,1.000000,2.000000,-9.205458e-02,-1.163527e-01,1.000000,2.000000,1.255019e-01,0.000000,-2.311765e-01,1.000000,4.000000,0.000000,1.000000
75%,7.240794e-01,1.000000,3.000000,4.791073e-01,5.623715e-01,1.000000,2.000000,7.343432e-01,1.000000,6.202642e-01,1.000000,4.000000,3.000000,1.000000
max,2.488552e+00,1.000000,3.000000,3.906079e+00,6.166694e+00,1.000000,2.000000,2.299935e+00,1.000000,4.366603e+00,2.000000,4.000000,3.000000,1.000000

In [12]:
baseline_stats.to_csv("baseline_stats.csv")